/* Demo Styles */
body {
	background: #009999;	
	font: 12px/18px arial;
	color: #666;
	margin: 20px 10px 50px;
}
h1 { color: #fff;}
h2 { color: #fff; margin: 40px 0 10px;}
strong { color: #000;}

strong span { color: #009999; }
div div {
	float: left;
	display: inline;
	width: 20%;
	padding: 20px;
	margin: 0 20px 10px 0;
	background: #fff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;	
}
.row {
	overflow: auto;
	zoom: 1;
}
